## general
_figures/
_data/_old/
_data/WBD/
**.Rdata

## _data/GFDL
_data/GFDL/raw/*.log
_data/GFDL/raw/instructions.txt
_data/GFDL/raw/ivt_infill.Rmd
_data/GFDL/raw/summarize_GFDL*

## _data/MERRA
_data/MERRA/ivt/ar_freq_by_cat*
_data/MERRA/ivt/files/
_data/MERRA/precip/files/
_data/MERRA/precip/scripts/

## _data/streamflow
#_data/streamflow/drainage_api/
_data/streamflow/drainage_batch/
_data/streamflow/flowstats/

## _data/WLDAS
_data/WLDAS/files/



